/* =========================
   GIGANTES PAGE
========================= */

/* =========================
   HERO GIGANTES
========================= */
#hero {
    background: url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_mobile.jpg") center/cover no-repeat;
    background-image: image-set(
        url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_mobile.webp") type("image/webp"),
        url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_mobile.jpg") type("image/jpeg")
    );
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 769px) {

    #experiencia-hero {
        background-image: url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_desktop.jpg");
        background-image: image-set(
            url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_desktop.webp") type("image/webp"),
            url("../img/heroes/hero-gigantes-cabezudo-caravinagre-san-fermin-pamplona_desktop.jpg") type("image/jpeg")
        );
    }

}
