/* =========================
   POBRE DE MI PAGE
========================= */

/* =========================
   HERO POBRE DE MI
========================= */
#hero {

    background: url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_mobile.jpg") center/cover no-repeat;
    background-image: image-set(
        url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_mobile.webp") type("image/webp"),
        url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_mobile.jpg") type("image/jpeg")
    );
}

/* =========================
   DESKTOP
========================= */

@media (min-width: 769px) {

    #hero {
        background-image: url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_desktop.jpg");
        background-image: image-set(
            url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_desktop.webp") type("image/webp"),
            url("../img/heroes/hero-pobredemi-balcon-ayuntamiento-san-fermin_desktop.jpg") type("image/jpeg")
        );
    }

}
