/* =========================
   TO-KO PAGE
========================= */

/* =========================
   HERO TO-KO
========================= */

#hero {
    background: url("../img/heroes/hero-toko-polo-san-fermin-diseno-exclusivo_mobile.jpg") center/cover no-repeat;
}

@media (min-width: 769px) {

    #toko-hero {
        background: url("../img/heroes/hero-toko-polo-san-fermin-diseno-exclusivo_desktop.jpg") center/cover no-repeat;
    }

    .toko-wine .card.slideshow img {
        max-height: 90vh;
    }

}
