<!-- Contact -->
<section id="contacto" class="contacto section section--inner">
    <div class="contacto-container on-dark">

        <h2 class="text-title">Solicita tu experiencia privada</h2>

        <p class="contacto-texto text-body">
            Cuéntanos qué te gustaría vivir en San Fermín y te proponemos una experiencia a medida.
        </p>

        <form id="form-contacto" class="formulario">
            <input type="text" placeholder="Nombre" required>
            <input type="email" placeholder="Email" >
            <input type="tel" placeholder="Teléfono">
            
            <select id="interes">
                <option value="" disabled selected hidden>Seleciona tu experiencia</option>
                <option>Encierros</option>
                <option>Chupinazo, procesion, gigantes</option>
                <option>To-Ko Collection</option>
                <option>Experiencia personalizada</option>
                <option>Empresa</option>
            </select>

            <textarea placeholder="Cuéntanos tu idea..." rows="4" required></textarea>

            <div class="buttons">
                <button type="submit" id="btn-whatsapp" class="btn btn-primary btn--full">
                    Solicitar propuesta por WhatsApp
                </button>

                <button type="button" id="btn-email" class="btn btn-secondary btn--full">
                    Solicitar por Email
                </button>
            </div>
        </form>

        <div class="contacto-extra">
            <p>O si lo prefieres:</p>
            <p><strong>📞 +34 625 638 977</strong></p>
            <p><strong>✉️ paula@lemonmilk.es</strong></p>
        </div>

    </div>
</section>
