<!-- Header -->
<header id="header">
    <nav>
        <a id="logo-link" class="logo" data-page="index.html">
            <img class="logo-white"
                 alt="San Fermin Exclusive Logo White"
                 data-file="img/sanfermin-logo-white.png">
            <img class="logo-black"
                 alt="San Fermin Exclusive Logo Black"
                 data-file="img/sanfermin-logo-black.png">
            <img class="logo-red"
                 alt="San Fermin Exclusive Logo Red"
                 data-file="img/sanfermin-logo-red.png">
            San Fermín a medida
        </a>

        <div class="hamburger" id="hamburger">☰</div>
        
        <ul class="menu">
            <li><a data-page="experiencias/index.html">Experiencias</a></li>
            <li><a data-page="galeria/index.html">Galería</a></li>
            <li><a data-page="toko/index.html">To-Ko Collection</a></li>
            <li><a data-page="guias/index.html">Guias San Fermín</a></li>
            <li><a data-page="empresa/index.html">Empresa</a></li>
        </ul>
    </nav>
</header>
