<!-- Header -->
<header id="header">
    <nav>
        <a id="logo-link" class="logo" href="/">
            <img class="logo-white" alt="San Fermin Exclusive Logo White" src="/img/sanfermin-logo-white.png">
            <img class="logo-black" alt="San Fermin Exclusive Logo Black" src="/img/sanfermin-logo-black.png">
            <img class="logo-red" alt="San Fermin Exclusive Logo Red" src="/img/sanfermin-logo-red.png">
            San Fermín a medida
        </a>
        <div class="hamburger" id="hamburger">☰</div>
        
        <ul class="menu">
            <li><a data-link="experiencias">Experiencias</a></li>
            <li><a data-link="galeria">Galería</a></li>
            <li><a data-link="toko">To-Ko Collection</a></li>
            <li><a data-link="guias">Guias San Fermín</a></li>
            <li><a data-link="empresa">Empresa</a></li>
        </ul>
    </nav>
</header>

