<!-- Header -->
    <header id="header">
        <nav>
            <div class="logo">
                <img class="logo-white" src="img/sanfermin-logo-white.png" alt="San Fermin Exclusive Logo White">
                <img class="logo-black" src="img/sanfermin-logo-black.png" alt="San Fermin Exclusive Logo Black">
                <img class="logo-red" src="img/sanfermin-logo-red.png" alt="San Fermin Exclusive Logo Red">
                San Fermín en privado
            </div>
            <div class="hamburger" id="hamburger">☰</div>
            
            <ul class="menu">
                <li><a href="#experiencias">Experiencias</a></li>
                <li><a href="#galeria">Galería</a></li>
                <li><a href="#toko">To-Ko Collection</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>
