<!-- Galeria mini -->
<section class="miniGallery section section--inner" data-img-cat="" data-test-cat="">
    <h2 class="text-title miniGallery__title">Momenticos</h2>

    <div class="miniGallery__carousel carousel">

        <button class="carousel-btn prev">‹</button>

        <div class="carousel-track" 
            data-json="img/galeria/galeria.json" 
            data-testimonios="momenticos/testimonios.json"
            data-link="momenticos/index.html">
        </div>
        <button class="carousel-btn next">›</button>

    </div>
</section>