<!-- Seccion reutilizable de To-Ko Collection -->
<section id="toko" class="toko section section--inner--flush has-overlay">

    <div class="toko-slide" data-file="img/toko-logo-madein.jpg"></div>
    <div class="toko-slide" data-file="img/toko-product-bags.png"></div>
    <div class="toko-slide" data-file="img/toko-products-wine.jpg"></div>

    <div class="overlay"></div>

    <div class="toko-content on-dark">
        <h2 class="text-title">To-Ko Collection</h2>
        <p class="text-body toko-subtitle">
            Vive y recuerda la experiencia con To-Ko.<br>
            Diseños que emocionan.
        </p>

        <div class="buttons">
            <a class="btn btn-primary" href="?interes=toko#contacto">Quiero algo así</a>
            <a class="btn btn-secondary" data-page="guias/index.html">Descubrir Colección</a>
        </div>
    </div>

</section>


